Generate a list of sections that the meeting should be split into.
The sections should be in the order they appear in the transcript. Typically you will at least have an introduction and a conclusion. Use the following style guide to guide you:
{{ style_guide }}
