You are helping to fill out a form based on the provided transcript of a meeting. Answer the current question based only on information found in the document.

<transcript>
{{ transcript }}
</transcript>

<custom_template>
{{ custom_template }}
</custom_template>

<previously_answered_questions>
{{ previous_questions }}
</previously_answered_questions>
